<div class="content mb-4 flex justify-between items-start">
  <h1>Schedule</h1>
  <LinkTo @route="events" class="bg-white p-4 flex flex-col font-bold gap-1 -mt-4 hover:bg-purple-100">
    {{svg-jar "th-regular" class="h-6 fill-current text-grey-800"}}
    Archive
  </LinkTo>
</div>

<div>
  <ScheduleActionTabs @selectDate={{action this.selectDate}} @selectedDate={{this.date}} @dates={{this.dates}} />

  <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
    <div class="col-span-1 md:col-span-3">
      <ScheduleFilter
              @showOnline={{this.showOnline}}
              @showLocal={{this.showLocal}}
              @showAnytime={{this.showAnytime}}
      />
      <TimezoneWarning />

    </div>

    <div class="sched-table col-span-1 md:col-span-9">
      <ScheduleTable
              @filteredEvent={{this.filteredEvents}}
              @isDateOther={{this.isDateOther}}
              @isDateAll={{this.isDateAll}}
      />

    </div>
  </div>
</div>
