<div class="medium-4 cell">
  <div class="box--image">
    {{#if resource.imageUrl}}
      {{#link-to "events.event" resource.slug}}
        <img src="{{{resource.imageUrl}}}" alt="{{resource.title}}" />
      {{/link-to}}
    {{/if}}
  </div>
  <div class="box box--with-image">
    <h2 class="box--title">
      {{#link-to "events.event" resource.slug}}{{{resource.title}}}{{/link-to}}
    </h2>
    <div class="box--divider"></div>
    <div class="box--meta">
      <div>
        <span class="box--meta--icon"><i class="icon-calendar"></i></span>
        {{#if (or (eq model.eventType 'webinar') (eq model.eventType 'online'))}}
          {{moment-format resource.eventTime 'YYYY-MM-DD HH:mm a'}}
        {{else}}
          <span class="box--meta--text">{{moment-format resource.eventTime 'YYYY-MM-DD HH:mm a'}}</span>
        {{/if}}

      </div>
      <div>
        {{#if (eq resource.eventType "local") }}
          <span class="box--meta--icon"><i class="icon-globe"></i></span>
          <span class="box--meta--text">{{resource.city}}, {{resource.country}}</span>
        {{else}}
          <span class="box--meta--icon"><i class="icon-globe"></i></span>
          <span class="box--meta--text">{{uc-words resource.eventType}}</span>
        {{/if}}
      </div>
    </div>
    <div class="box--divider"></div>
    <div class="box--content">
      {{{resource.contentExcerpt}}}
    </div>
    <div class="box--divider"></div>
    <div class="box--meta box--meta--small">
      {{#if resource.formLanguage}}
        <div>
          <span class="box--meta--icon"><i class="icon-flag"></i></span>
          <span class="box--meta--text">{{{resource.formLanguage}}}</span>
        </div>
      {{/if}}
      <div>
        <span class="box--meta--icon"><i class="icon-building"></i></span>
        <span class="box--meta--text">{{{resource.institution}}}</span>
      </div>
    </div>
  </div>
</div>

{{yield}}
