<tr class="bg-white border event__card__long">
  <div class="relative flex">
    <td class="w-full">
      <LinkTo @route="events.event" @model={{event.slug}} class="flex flex-col p-4">
        <div>
        <span>
          {{#if isDateOther}}
            {{moment-format event.eventTime 'YYYY-MM-DD HH:mm'}}
          {{else}}
            {{moment-format event.eventTime 'HH:mm'}}
          {{/if}}
        </span>
          <span class="font-bold">{{event.title}}</span>
        </div>
        <div class="leading-loose mt-2">
          <span class="bg-gray-200 rounded-xl px-2 py-1 {{event-color event.eventType}}">{{uc-words event.eventType}}</span>
          <span class="bg-blue-200 rounded-xl px-2 py-1">{{event.formLanguage}}</span>
          <div class="sm:w-full lg:hidden"></div>
          <span class="bg-red-200 rounded-xl px-2 py-1">{{event.country}}, {{event.city}}</span>

        </div>
      </LinkTo>
    </td>
    <!--  <td>Bookmark</td>-->
  </div>
</tr>