{{#link-to 'events.event' event.slug class=(concat "card-event-long cell expanded grid-x align-justify " event.event_type)}}
  <span class="cell auto grid-y align-justify card-event-long__desc">
    <span class="cell shrink">{{event.title}}</span>
    <span class="card-event-small__language cell shrink grid-x grid-margin-x align-left">
      <span class="cell shrink">{{svg-jar 'globe'}} {{event.country}}, {{event.city}}</span>
      <span class="cell shrink">{{svg-jar 'flag'}} {{event.form_language}}</span>
      <span class="cell shrink">{{svg-jar 'clock'}} {{moment-format event.event_time 'HH:mm'}} </span>
    </span>
  </span>
  <span class="cell shrink align-self-middle card-event-long__more">Read Details</span>
{{/link-to}}