<div class="schedule__container online">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      {{schedule-action-tabs selectDate='selectDate' eventType='online'}}
    </div>

    <div class="grid-x grid-margin-x align-justify">
      <div class="small-12 cell medium-auto">
        <h1 class="schedule-header">{{svg-jar 'online'}} Online Events</h1>
      </div>

      <div class="small-12 cell medium-shrink offline">
        {{#scroll-to href='#local' class="schedule-header"}}
          Jump to Local Events {{svg-jar 'offline'}}
        {{/scroll-to}}
        {{#link-to 'resources' class="schedule-header resources"}}
          Go to Resources {{svg-jar 'cubes'}}
        {{/link-to}}
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      {{schedule-table filteredEvent=filteredOnlineEvent isDateOther=isDateOther}}

      <div class="small-12 cell">
        <div class="content--notice">Time of event is adjusted to your local time. Please double check it on the site of
          the event.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="schedule__container offline" id="local">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      {{!-- {{schedule-action-tabs selectDate='selectDate' event_type='offline'}} --}}

      <div class="small-12 cell">
        <h1 class="schedule-header">{{svg-jar 'offline'}} Local Events</h1>
      </div>

      {{schedule-table filteredEvent=filteredLocalEvent isDateOther=isDateOther}}

      <div class="small-12 cell">
        <div class="content--notice">Time of event is adjusted to your local time. Please double check it on the site of
          the event.
        </div>
      </div>
    </div>
  </div>
</div>