<div class="schedule__container online">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      {{schedule-action-tabs selectDate='selectDate' event_type='online'}}

      <div class="small-12 cell">
        <h1 class="schedule-header">{{svg-jar 'online'}} Online Events</h1>
      </div>

      {{schedule-table filteredEvent=filteredOnlineEvent}}

      <div class="small-12 cell">
        <div class="content--notice">Time of event is adjusted to your local time. Please double check it on the site of the event.</div>
      </div>
    </div>
  </div>
</div>

<div class="schedule__container offline">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      {{!-- {{schedule-action-tabs selectDate='selectDate' event_type='offline'}} --}}

      <div class="small-12 cell">
        <h1 class="schedule-header">{{svg-jar 'offline'}} Local Events</h1>
      </div>

      {{schedule-table filteredEvent=filteredLocalEvent}}
    </div>
  </div>
</div>