<LinkTo @route="events.event" @model={{event.slug}} class="flex-col">
  <div>
    <span>
      {{#if isDateOther}}
        {{moment-format event.eventTime 'YYYY-MM-DD HH:mm'}}
      {{else}}
        {{moment-format event.eventTime 'HH:mm'}}
      {{/if}}
    </span>
    <span class="font-bold">{{event.title}}</span>
  </div>
  <div>
    {{event.country}}, {{event.city}}, {{event.formLanguage}}
  </div>
</LinkTo>