<div class="content mb-4 flex justify-between items-start">
  <h1>Schedule</h1>
  <LinkTo @route="events" class="bg-white p-4 flex flex-col font-bold gap-1 -mt-4 hover:bg-purple-100">
    {{svg-jar "th-regular" class="h-6 fill-current text-grey-800"}}
    Archive
  </LinkTo>
</div>

<div>
  <ScheduleActionTabs @selectDate={{action this.selectDate}} @selectedDate={{this.date}} @dates={{this.dates}} />
  <ScheduleTable
          @filteredEvent={{this.filteredEvents}}
          @isDateOther={{this.isDateOther}}
          @isDateAll={{this.isDateAll}}

  />

  <p>Time of event is adjusted to your current time. Please double check it on the site of
    the event.</p>
</div>
