{{#if model.imageUrl}}
  <img class="max-w-lg" src="{{model.imageUrl}}"/>
  <button
    class="button-outline" type="button" {{action "removeImage"}}
  >Change image
  </button>
{{else}}
  {{#file-dropzone
          name="image"
          class="dropzone-upload-area flex flex-col justify-center items-center text-center bg-green-100 rounded py-10"
          ondragenter=(action "resetDropzone")
  as |dropzone queue|
  }}
    <div class="h-36 flex flex-col gap-4">
      {{#if dropzone.active}}
        {{#if dropzone.valid}}
          Drop to upload
        {{else}}
          Invalid
        {{/if}}
      {{else if (and queue.files.length (not errors))}}
        Uploading your file. ({{queue.progress}}%)
      {{else}}
        <h4 class="font-bold mb-4">Upload Image</h4>
        <p>Please upload at least <b>800x600 px</b> image.<br/>If you don't provide one, we'll create a screenshot of
          your website.</p>
        <p>
          {{#if dropzone.supported}}
            Drag and drop onto this area to upload or
          {{/if}}

          <FileUpload @name="image"
                      @accept="image/*"
                      @multiple={{false}}
                      @onfileadd={{action 'uploadImage'}}
          >
            <a id="upload-image" class="ml-4 button-main" tabindex=0>Select an Image</a>
          </FileUpload>
        </p>
      {{/if}}
      {{#if errors}}
        <p class="text-red-600 my-6">{{join ', ' errors}}. Please upload a different image.</p>
      {{/if}}
    </div>
  {{/file-dropzone}}
{{/if}}