<ul class="pagination pt-10" role="navigation" aria-label="Pagination">
  {{#if hasPreviousPage}}
    <li class="pagination-previous">
      <button {{action previousPage}} aria-label="Previous page">← Prev</button>
    </li>
  {{/if}}

  {{#if showPagePrevMargin}}
    <li>{{#link-to (query-params page=1)}}1{{/link-to}}</li>
    <li>..</li>
  {{/if}}

  {{#each getPreviousPages as |page|}}
    <li>{{#link-to (query-params page=page)}}{{page}}{{/link-to}}</li>
  {{/each}}

  <li class="current">{{page}}</li>

  {{#each getNextPages as |page|}}
    <li>{{#link-to (query-params page=page)}}{{page}}{{/link-to}}</li>
  {{/each}}

  {{#if showPageNextMargin}}
    <li>..</li>
    <li>{{#link-to (query-params page=pageCount)}}{{pageCount}}{{/link-to}}</li>
  {{/if}}

  {{#if hasNextPage}}
    <li class="pagination-next">
      <button {{action nextPage}} aria-label="Next page">Next →</button>
    </li>
  {{/if}}
</ul>
