<div class="cell expand">
  <ul class="pagination text-center" role="navigation" aria-label="Pagination">
    {{#if hasPreviousPage}}
      <li class="pagination-previous disabled">
        <button {{action "previousPage"}} aria-label="Previous page">« Previous <span class="show-for-sr">page</span></button>
      </li>
    {{else}}
      <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
    {{/if}}

    {{#if showPagePrevMargin}}
      <li>{{#link-to (query-params page=1)}}1{{/link-to}}</li>
      <li>..</li>
    {{/if}}

    {{#each getPreviousPages as |page|}}
      <li>{{#link-to (query-params page=page)}}{{page}}{{/link-to}}</li>
    {{/each}}

    <li class="current"><span class="show-for-sr">You're on page</span> {{page}}</li>

    {{#each getNextPages as |page|}}
      <li>{{#link-to (query-params page=page)}}{{page}}{{/link-to}}</li>
    {{/each}}

    {{#if showPageNextMargin}}
      <li>..</li>
      <li>{{#link-to (query-params page=pageCount)}}{{pageCount}}{{/link-to}}</li>
    {{/if}}

    {{#if hasNextPage}}
      <li class="pagination-next">
        <button {{action "nextPage"}} aria-label="Next page">Next <span class="show-for-sr">page</span> »</button>
      </li>
    {{else}}
      <li class="pagination-next disabled">Next <span class="show-for-sr">page</span></li>
    {{/if}}
  </ul>
</div>
