<div class="flex bg-white justify-center">
  {{#each dates as |date index|}}

    <button class="font-bold p-4 hover:bg-purple-500 hover:text-white
                   date-{{date.value}} {{if date.isActive 'active bg-purple-500 text-white' 'text-gray-800'}}"
            type="button" onclick={{action @selectDate date}}
    >
      {{#if (eq date.value 'other')}}
        <span class="schedule--menu__day1">Other Days</span>
      {{else if (eq date.value 'all')}}
        <span class="schedule--menu__day1">All Days</span>
      {{else if (eq date.value 'anytime')}}
        <span class="schedule--menu__day1">Anytime Activities</span>
      {{else}}
        <span class="schedule--menu__day1">{{moment-format date.value 'ddd'}}</span>
        <span class="schedule--menu__day2">{{moment-format date.value 'DD'}}</span>
      {{/if}}
    </button>

  {{/each}}
</div>
