<div class="form-group">
  {{#if (and
          label
          (not-eq type 'checkbox')
        )
  }}
    <label for="{{concat elementId '-name'}}">{{label}}</label>
  {{/if}}

  {{#if (eq type 'textarea') }}
    {{textarea type=type value=value placeholder=placeholder class="form-control" name=valuePath
               id=(concat elementId '-name')}}
  {{else if (eq type 'checkbox') }}
    <label>
      {{input type=type checked=value class="form-control" name=valuePath id=(concat elementId '-name')}}
      {{label}}
    </label>
  {{else if (eq type 'power-select') }}
    {{#power-select
      options=options
      onchange=(action 'valueChanged')
      selected=(readonly (get model valuePath))
      placeholder=placeholder
      renderInPlace=true
    as |option|
    }}
      {{option}}
    {{/power-select}}
  {{else if (eq type 'power-select-multiple') }}
    {{#power-select-multiple
      options=options
      selected=(readonly (get model valuePath))
      onchange=(action 'valueChanged')
    as |option|
    }}
      {{option}}
    {{/power-select-multiple}}
  {{else if (eq type 'radio') }}
    {{#each values as |radio|}}
      {{#radio-button
        value=radio.value
        groupValue=(readonly (get model valuePath))
        changed=(action 'radioChanged')
        radioClass=radio.value
        disabled=readonly
      }}
        {{radio.label}}
      {{/radio-button}}
    {{/each}}
  {{else}}
    {{input
      type=type
      value=value
      placeholder=placeholder
      class="form-control"
      name=valuePath
      id=(concat elementId '-name')
      readonly=readonly
    }}
  {{/if}}

  {{#if isValid}}
    <span class="valid-input fa fa-check"></span>
  {{/if}}

  <div class="input-error">
    {{#if showErrorMessage}}
      <div class="error">
        {{v-get model valuePath 'message'}}
      </div>
    {{/if}}

    {{#if showWarningMessage}}
      <div class="warning">
        {{v-get model valuePath 'warningMessage'}}
      </div>
    {{/if}}
  </div>
</div>