<LinkTo class="bg-white shadow rounded flex flex-col hover:text-white active:bg-blue-400 group"
        @route="events.event" @model={{@resource.slug}}
>
  <div class="aspect-w-16 aspect-h-9 overflow-hidden h-16 group-hover:opacity-80 group-active:opacity-100">
    {{#if @resource.imageUrl}}
        <img src="{{@resource.imageUrl}}" alt="{{@resource.title}}" class="object-cover" />
    {{/if}}
  </div>
  <div class="p-4 flex flex-col gap-4 mt-4 flex-grow flex justify-between">
    <h3 class="text-lg font-bold group-hover:text-blue-400 group-active:text-white">
      {{@resource.title}}
    </h3>
    <div class="prose hidden md:block flex-grow text-sm leading-snug group-active:text-white">
      {{@resource.contentExcerptSafe}}
    </div>
    <dl class="flex flex-col gap-2 text-gray-500 group-active:text-white">
      <dd>{{svg-jar "globe-light" class="h-4 inline mr-2"}}
        {{#if (eq @resource.eventType "local") }}
          {{@resource.city}}, {{@resource.country}}
        {{else}}
          {{uc-words @resource.eventType}}
        {{/if}}
      </dd>
      <dd>{{svg-jar "calendar-day-light" class="h-4 inline mr-2"}}
        {{#if (or (eq @resource.eventType 'webinar') (eq @resource.eventType 'online'))}}
          {{moment-format @resource.eventTime 'YYYY-MM-DD HH:mm a'}}
        {{else}}
          {{moment-format @resource.eventTime 'YYYY-MM-DD HH:mm a'}}
        {{/if}}
      </dd>
      {{#if @resource.formLanguage}}
        <dd>{{svg-jar "flag-light" class="h-4 inline mr-2"}} {{@resource.formLanguage}}</dd>
      {{/if}}
      <dd class="flex flex-row justify-start items-baseline">
        <span class="inline-flex w-4 mr-3">
        {{svg-jar "building-light" class="h-4 flex-shrink"}}
        </span>
        <span class="inline-flex">{{@resource.institution}}</span>
      </dd>
    </dl>
  </div>
</LinkTo>