<div class="no-scrollbar flex bg-white justify-start lg:justify-center flex-nowrap mb-10 overflow-x-scroll">
  {{#each @dates as |date index|}}
    <button class="font-bold p-4 hover:bg-purple-500 hover:text-white
                   date-{{date.value}} {{if (eq date @selectedDate) 'active bg-purple-500 text-white' 'text-gray-800'}}"
            type="button" onclick={{action @selectDate date}}
    >
      {{#if (eq date 'other')}}
        Other Days
      {{else if (eq date 'all')}}
        All Days
      {{else if (eq date 'anytime')}}
        Anytime Activities
      {{else}}
        {{moment-format date 'ddd DD'}}
      {{/if}}
    </button>
  {{/each}}
</div>
