<div class="content mb-10">
  <h1>Submit Your Entry</h1>
</div>

<h2 class="text-3xl font-bold mb-10">General Information (Step 1/2)</h2>

<div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
  <div class="sm:col-span-3">
    <ValidatedInput @model={{model}} @valuePath="firstname" @label="First Name *" @didValidate={{didValidate}} />
  </div>
  <div class="sm:col-span-3">
    <ValidatedInput @model={{model}} @valuePath="lastname" @label="Last Name *" @didValidate={{didValidate}} />
  </div>

  <div class="sm:col-span-3">
    <ValidatedInput @model={{model}} @valuePath="email" @label="Email *" @didValidate={{didValidate}}
                    @readonly={{isEditing}} />
  </div>
  <div class="sm:col-span-3">
    <ValidatedInput @model={{model}} @valuePath="twitter" @label="Twitter" @didValidate={{didValidate}}
                    @readonly={{isEditing}} @placeholder="@username"/>
  </div>

  <div class="sm:col-span-3">
    <ValidatedInput @model={{model}} @valuePath="institution" @label="Institution or Organization"
                    @didValidate={{didValidate}} />
  </div>
  <div class="sm:col-span-3">
    <ValidatedInput @model={{model}} @valuePath="institutionurl" @label="Website of Institution or Organization"
                    @type="url" @didValidate={{didValidate}} />
  </div>
  <div class="sm:col-span-3">
    <ValidatedInput @model={{model}} @options={{countries}} @valuePath="country" @placeholder="Select your country ..."
                    @label="Country *" @type="power-select" @didValidate={{didValidate}} />
  </div>

  <div class="sm:col-span-3">
    <ValidatedInput @model={{model}} @valuePath="city" @label="City, State *" @didValidate={{didValidate}} />
  </div>

  <div class="sm:col-span-6">
    <ValidatedInput @label="Type of Contribution *" @model={{model}} @valuePath="postType" @values={{array
            (hash value="event" label="Activity") (hash value="resource" label="Open Asset")}} @type="radio"
                    @didValidate={{didValidate}} @readonly={{isEditing}} />
  </div>

  <div class="sm:col-span-6">
    <LinkTo @route="submit.index" class="button-main">Back</LinkTo>

    {{#if (eq model.postType 'event')}}
      <button class="button-main" type="button" {{action 'validateForm' 'submit.event'}}>Next</button>
    {{else if (eq model.postType 'resource')}}
      <button class="button-main" type="button" {{action 'validateForm' 'submit.resource'}}>Next</button>
    {{else}}
      <button class="button-main" type="button" {{action 'validateForm'}}>Next</button>
    {{/if}}
  </div>
</div>

