<h1>General Information (Step 1/2)</h1>

<div class="grid-x grid-margin-x">
  <div class="medium-6 cell">
    {{validated-input model=model valuePath='firstname' label='First Name *' didValidate=didValidate}}
  </div>
  <div class="medium-6 cell">
    {{validated-input model=model valuePath='lastname' label='Last Name *' didValidate=didValidate}}
  </div>
</div>

{{validated-input model=model valuePath='email' label='Email *' didValidate=didValidate readonly=isEditing}}
{{validated-input model=model valuePath='institution' label='Institution or Organization' didValidate=didValidate}}
{{validated-input model=model valuePath='institutionurl' label='Website of Institution or Organization' type='url'
                  didValidate=didValidate}}

{{validated-input
  model=model
  options=countries
  valuePath='country'
  placeholder="Select your country ..."
  label='Country *'
  type='power-select'
  didValidate=didValidate
}}

{{validated-input model=model valuePath='city' label='City, State *' didValidate=didValidate}}

{{validated-input
  label='Type of Contribution *'
  model=model
  valuePath='postType'
  values=(array
    (hash value='event' label='Event')
    (hash value='resource' label='Resource')
  )
  type='radio'
  didValidate=didValidate
  readonly=isEditing
}}

<div class="grid-x grid-margin-x align-justify">
  <div class="cell shrink">
    {{#if (eq model.postType 'event')}}
      <button class="button" {{action 'validateForm' 'submit.event'}}>Next Page</button>
    {{else if (eq model.postType 'resource')}}
      <button class="button" {{action 'validateForm' 'submit.resource'}}>Next Page</button>
    {{else}}
      <button class="button" {{action 'validateForm'}}>Next Page</button>
    {{/if}}
  </div>
</div>


