<div class="bg-gray-900">

  <div class="hidden lg:block py-5 pt-20">Home | {{uc-words model.postType}} </div>

  <h1 class="font-bold text-3xl">{{{model.title}}}</h1>
</div>

<div class="bg-purple-900 p-4 lg:p-8 mt-8 mb-20">
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-4">
    <div class="col-span-5">
      {{#if model.imageUrl}}
        <img src="{{{model.imageUrl}}}" alt="{{model.title}}" class="object-fill"/>
      {{/if}}
    </div>
    <div class="flex flex-col col-span-7 gap-8">
      <dl class="bg-white w-full prose p-4">
        <dd><i class="icon-flag"></i> Language</dd>
        <dt>{{model.formLanguage}}</dt>

        <dd><i class="icon-user"></i> Submitter</dd>
        <dt>{{model.contact}}</dt>

        <dd><i class="icon-info-circled"></i> Institution</dd>
        <dt>{{model.institution}}</dt>

        {{#if model.country}}
          <dd><i class="icon-location"></i> Location</dd>
          <dt>
            {{#if model.city}}
              {{model.city}},
            {{/if}}

            {{model.country}}
          </dt>
        {{/if}}
      </dl>

      <div class="prose">
        {{model.content}}
      </div>
      <div class="">
        <a class="button-main" href="{{model.link}}" target="_blank">View site</a>
      </div>
    </div>
  </div>
</div>
