<div>
  <div class="mb-5 uppercase font-bold tracking-wider">{{uc-words model.postType}} </div>
  <h1 class="font-bold text-3xl">{{{model.title}}}</h1>
</div>

<div class="bg-purple-100 p-4 md:p-8 mt-8 rounded border-purple-800 border-2">
  <div class="grid grid-cols-1 md:grid-cols-12 gap-10">
    <div class="col-span-1 md:col-span-5">
      {{#if model.imageUrl}}
      <img class="w-full h-auto" src="{{{model.imageUrl}}}" alt="{{model.title}}" class="object-fill" />
      {{/if}}
    </div>
    <div class="col-span-1 md:col-span-7">
      <dl class="bg-white w-full p-4 pb-6 text-sm resource__meta mb-10">
        <dd class="resource__meta-single border-2 border-green-400 p-4">{{svg-jar "calendar-day-light"
          class="inline-block current-color h-6 mr-2 -mt-1"}} {{moment-format
          model.eventTime 'MMMM D, YYYY - h:mm A'}}</dd>
        <dd>
          {{svg-jar "user-circle-solid" class="h-4 inline-block current-color mr-1"}} <span class="font-bold">Submitted by</span>
          <span>{{model.contact}}</span>
        </dd>
        {{#if model.eventFacilitator}}
        <dd>{{svg-jar "user-circle-solid" class="h-4 inline-block current-color mr-1"}} <span class="font-bold">Facilitated by</span> <span>{{model.eventFacilitator}}</span></dd>
        {{/if}}

        <dd>{{svg-jar "graduation-cap-solid" class="h-4 inline-block current-color mr-1"}} <span class="font-bold">Institution:</span> <span>{{model.institution}}</span></dd>

        <dd class="resource__meta-single font-bold">{{svg-jar "globe-solid"
          class="h-4 inline-block current-color mr-1"}} {{model.formLanguage}}</dd>


        {{#if model.country}}
        <dd class="resource__meta-single font-bold">{{svg-jar "graduation-cap-solid" class="h-4 inline-block current-color mr-1"}}
          {{#if model.city}}
          {{model.city}},
          {{/if}}
          {{model.country}}
        </dd>
        {{/if}}
      </dl>

      <div class="prose mb-10">
        {{{model.content}}}
        <hr class="bg-purple-500">
        <TimezoneWarning />
      </div>
      <div class="pb-4">
        {{#if model.link }}
        <a class="button-outline mr-2" href="{{model.link}}" target="_blank" rel="noopener noreferrer">View
          site</a>
        {{/if}}
        {{#if model.linkwebroom}}
        <a class="button-outline" href="{{model.linkwebroom}}" target="_blank" rel="noopener noreferrer">Join
          Webinar</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>