<div class="grid-x grid-margin-x title--container">
  <div class="small-12 cell">
    <h1>{{uc-words model.post_type}}</h1>
  </div>
</div>

<div class="grid-x grid-margin-x content--container">
  <div class="small-4 cell">
    <div class="box">
      <dl class="box--meta">
        <dd><i class="icon-flag"></i> Language</dd>
        <dt>{{model.form_language}}</dt>

        <dd><i class="icon-user"></i> Submitter</dd>
        <dt>{{model.contact}}</dt>

        <dd><i class="icon-info-circled"></i> Institution</dd>
        <dt>{{model.institution}}</dt>
      </dl>
    </div>

    <div class="box">
      <dl class="box--meta">
        <dd><i class="icon-clock"></i> Date and time</dd>
        {{#if (or (eq model.event_type 'webinar') (eq model.event_type 'online'))}}
          <dt>
            {{moment-format model.event_time 'YYYY-MM-DD HH:mm a'}}

            <span class='box--meta--notice'>
                Time of event is adjusted to your local time. Please double check it on the site of the event.
            </span>
          </dt>
        {{else}}
          <dt>
            {{model.event_source_datetime}}<br />
          </dt>
          <dd><i class="icon-globe"></i>Timezone</dd>
          <dt>
            {{model.event_source_timezone}}
          </dt>
        {{/if}}
      </dl>
    </div>

  </div>

  <div class="small-8 cell">
    <div class="box--image">
      {{#if model.image_url}}
        <img src="{{{model.image_url}}}" alt="{{model.title}}" />
      {{/if}}
    </div>
    <div class="box box--with-image">
      <h2 class="box--title">{{{model.title}}}</h2>
      <div class="box--divider"></div>
      <div class="box--content">
        {{{model.content}}}
      </div>
      {{#if model.link}}
        <div class="box--divider"></div>
        <div class="box--content">
          <a class="button" href="{{model.link}}" target="_blank">View site</a>
        </div>
      {{/if}}
    </div>
  </div>
</div>

{{outlet}}
