<div class="content mb-10">
  <h1>Past Activities</h1>
  <div class="bg-green-600 text-white p-4 lg:p-8 rounded mx-auto lg:w-8/12 lg:flex justify-center font-bold prose prose-sm lg:prose-lg">
    {{svg-jar "icon-events" class="h-16 w-auto mx-auto flex-shrink-0 lg:mr-6 mb-4"}}
    <div>
      <p>
        Collection of past activities & events hosted by the community during previous editions of Open Education Week.  
      </p>
    </div>
  </div>
</div>

<div class="bg-green-600 text-white p-4">
  <div class="grid grid-cols-1 lg:grid-cols-3 justify-between gap-4 lg:gap-16">
    <div>
      <label>Filter by year</label>
      {{#power-select
              options=years
              selected=yearselected
              searchEnabled=false
              allowClear=true
              onChange=(action "selectYear") as |year|}}
        {{year}}
      {{/power-select}}
    </div>
    <div class="medium-3 cell">
      <label>Filter by Language</label>
      {{#power-select
              options=languages
              selected=language
              searchEnabled=false
              allowClear=true
              onChange=(action "selectLanguage") as |language|}}
        {{language}}
      {{/power-select}}
    </div>
  </div>
</div>

<div class="pt-10">
  <EventBrowser @resources={{filteredResources}} />

  {{#if filteredResources}}
    <ResourcePagination
            @page={{page}}
            @pageCount={{pageCount}}
            @previousPage={{action "previousPage"}}
            @nextPage={{action "nextPage"}}
    />
  {{/if}}
</div>
