<div>
  <div class="content pt-20 mb-10">
    <h1 class="text-center">Archive of Activities</h1>
  </div>
</div>

<div class="bg-red-600 text-white p-4">
  <div class="grid grid-cols-1 lg:grid-cols-3 justify-between gap-4 lg:gap-16">
    <div>
      <label>Filter by year</label>
      {{#power-select
              options=years
              selected=yearselected
              searchEnabled=false
              allowClear=true
              onChange=(action "selectYear") as |year|}}
        {{year}}
      {{/power-select}}
    </div>
    <div class="medium-3 cell">
      <label>Filter by Language</label>
      {{#power-select
              options=languages
              selected=language
              searchEnabled=false
              allowClear=true
              onChange=(action "selectLanguage") as |language|}}
        {{language}}
      {{/power-select}}
    </div>
  </div>
</div>


<div class="py-10">
  <EventBrowser @resources={{filteredResources}} />

  {{#if filteredResources}}
    <ResourcePagination
            @page={{page}}
            @pageCount={{pageCount}}
            @previousPage={{action "previousPage"}}
            @nextPage={{action "nextPage"}}
    />
  {{/if}}
</div>
