<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="small-12 cell box">
      <div class="grid-x grid-margin-x align-justify">
        <div class="small-3 cell">
          {{#link-to 'submissions.index' (query-params postStatus='draft') class='button primary'}}
            Back to submissions{{/link-to}}
        </div>
        <div class="small-3 cell text-right">
          {{#link-to 'submit.edit' model.id class="button secondary"}}Edit{{/link-to}}
          {{#if (eq model.postStatus 'publish')}}
            {{#if (eq model.postType 'resource')}}
              {{#link-to 'resources.resource' model.slug class='button primary'}}View{{/link-to}}
            {{else}}
              {{#link-to 'events.event' model.slug class='button primary'}}View{{/link-to}}
            {{/if}}
          {{/if}}
        </div>
      </div>

      <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
          <h2>#{{model.id}} - {{model.title}}</h2>
        </div>

        <div class="small-8 cell">
          <dl class="box--submission">
            <dt>Contact</dt>
            <dd>{{model.firstname}} {{model.lastname}} (<a href="mailto:{{model.email}}">{{model.email}}</a>)</dd>

            <dt>Email</dt>
            <dd>{{model.email}}</dd>

            <dt>City and Country</dt>
            <dd>{{model.city}}, {{model.country}}</dd>

            <dt>Institution or Organization</dt>
            <dd>{{model.institution}}</dd>

            <dt>Website of Institution or Organization</dt>
            <dd><a href="{{model.institutionurl}}">{{model.institutionurl}}</a></dd>
          </dl>
        </div>

        {{#if isStaff}}
          <div class="small-4 cell box--meta box--meta--actions">
            <dd>Current status</dd>
            <dt>
              <h5>{{model.postStatus}}</h5>
            </dt>

            <dt class="box--meta--actions--buttons">
              {{#if (not-eq model.postStatus 'publish')}}
                <button class="button" {{action 'changeSubmissionStatus' model 'publish'}}>Publish</button>
              {{else}}
                <button class="button disabled">Publish</button>
              {{/if}}

              {{#if (not-eq model.postStatus 'draft')}}
                <button class="button cyan" {{action 'changeSubmissionStatus' model 'draft'}}>Draft</button>
              {{else}}
                <button class="button cyan disabled">Draft</button>
              {{/if}}

              {{#if (not-eq model.postStatus 'trash')}}
                <button class="button secondary" {{action 'changeSubmissionStatus' model 'trash'}}>Trash</button>
              {{else}}
                <button class="button secondary disabled">Trash</button>
              {{/if}}
            </dt>
            <dd>Email Templates</dd>
            <dt>
              {{#each templates as |template|}}
                <a href="mailto:{{model.email}}?subject={{simple-template
                templateString=template.subject
                props=(hash
                  title=model.title
                  link=model.permalink
                  name=model.firstname)
              }}&body={{simple-template
                templateString=template.body
                props=(hash
                  title=model.title
                  link=model.permalink
                  name=model.firstname)
              }}"
                class="button primary">{{template.name}}</a><br/>
              {{/each}}
            </dt>
          </div>
        {{/if}}

        <div class="small-12 cell">
          {{#if (eq model.postType 'event')}}
            <h4>Event Information</h4>

            <dl class="box--submission">
              <dt>Type of Event</dt>
              <dd>{{uc-words model.eventType}}</dd>

              <dt>Title</dt>
              <dd>{{model.title}}</dd>

              <dt>Facilitator</dt>
              <dd>{{model.eventFacilitator}}</dd>

              <dt>Description</dt>
              <dd>{{model.description}}</dd>

              <dt>Event starts at</dt>
              <dd>{{moment-format model.eventTime 'YYYY-MM-DD HH:mm a'}}</dd>

              <dt>Link to the Event Page</dt>
              <dd><a href="{{model.link}}">{{model.link}}</a></dd>

              <dt>Optional link to the Web room of the event</dt>
              <dd><a href="{{model.linkwebroom}}">{{model.linkwebroom}}</a></dd>

              <dt>Language</dt>
              <dd>{{model.language}}</dd>

              <dt>Open tag(s) related to your submission</dt>
              <dd>{{join ', ' model.opentags}}</dd>
            </dl>
          {{else if (eq model.postType 'resource')}}
            <h4>Resource Information</h4>
            <dl class="box--submission">
              <dt>Title</dt>
              <dd>{{model.title}}</dd>

              <dt>Description</dt>
              <dd>{{model.description}}</dd>

              <dt>Link to the Resource</dt>
              <dd><a href="{{model.link}}">{{model.link}}</a></dd>

              <dt>License</dt>
              <dd>{{model.license}}</dd>

              <dt>Primary Language</dt>
              <dd>{{model.language}}</dd>

              <dt>Open tag(s) related to your submission</dt>
              <dd>{{join ', ' model.opentags}}</dd>
            </dl>
          {{/if}}
        </div>
        <div class="small-6 cell">
          {{#if model.imageUrl}}
            <h4>Image</h4>
            <img src="{{{model.imageUrl}}}" alt="{{model.title}}"/>
          {{else}}
            <h4>No Image 😔</h4>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
