{{head-layout}}

{{#if isHomepage}}
  <div class="home-first--container">
    {{main-navigation rootURL=rootURL}}
    {{first-container}}
    {{!-- {{event-upcoming}} --}}
  </div>
{{else if isSchedule}}
  <div class="home-first--container">
    {{main-navigation rootURL=rootURL}}
    {{!-- {{event-upcoming}} --}}
  </div>
{{else}}
  {{main-navigation}}
{{/if}}

{{outlet}}

<footer>
  <div class="grid-container">
    <div class="grid-x footer--navigation clearfix">
      <div class="medium-3 cell">
        <div class="footer--organizedby">Organized by</div>
        <a href="http://www.oeconsortium.org" target="_blank">
          <img src="/assets/images/oec-logo.svg" alt="Open Education Consortium"/>
        </a>
      </div>
      <div class="medium-8 medium-offset-1 cell end">
        <span class="footer--navigation--title">Check out our other initiatives</span><br/>
        <a class="footer--logo" href="https://conference.oeconsortium.org/2018/" target="_blank"><img
          src="/assets/svg/logo-oeglobal-2018.svg"/></a>
        <a class="footer--logo" href="https://www.yearofopen.org/" target="_blank"><img
          src="/assets/svg/logo-year-of-open-2018.svg"/></a>
        <a class="footer--logo" href="https://www.cccoer.org/" target="_blank"><img src="/assets/svg/logo-cccoer.svg"/></a>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x">
      <div class="medium-12 cell">
        <div class="footer--byline">Open Education Week is a celebration of the global Open Education Movement. Its
          purpose is to raise awareness about the movement and its impact on teaching and learning worldwide.
          Participation in all events and use of all resources are free and open to everyone.
        </div>
        <div class="footer--license grid-x grid-margin-x">
          <div class="shrink cell">
            <a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License"
                                                                                     style="border-width:0"
                                                                                     src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a>
          </div>
          <div class="auto cell">
            Except where otherwise noted, content on openeducationweek.org is licensed under a
            <a rel="license"
               href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
