{{head-layout}}

<NavigationPrimary @isHome={{this.isHomepage}} />

{{outlet}}

<footer class="bg-blue-200 text-gray-900 pb-10 lg:pt-20">
  <div class="container flex flex-col items-start">
    <div class="flex flex-col lg:flex-row gap-16">
      <div class="">
        <div class="hidden lg:flex flex-col p-8 bg-white">
          {{svg-jar "logo" class="h-20 w-auto"}}
        </div>

        <div class="py-8 flex flex-col items-center gap-2 lg:mb-20">
          <span class="text-white text-sm">Organized by</span>
          <a href="https://www.oeglobal.org">
            {{svg-jar "logo-oeglobal" class="h-20 w-auto hidden lg:block"}}
            {{svg-jar "logo-oeglobal-sm" class="h-64 w-auto lg:hidden"}}
          </a>
        </div>
      </div>

      <ul class="hidden lg:grid grid-cols-1 lg:grid-cols-4 gap-4">
        <ul class="sub-menu flex flex-col gap-3 mb-4">
          <li class="font-bold mb-2">About</li>
          <li class="">
            <LinkTo @route="page" @model="what-is-open-education-week">What is Open Education Week</LinkTo>
          </li>
          <li class="">
            <LinkTo @route="page" @model="faq">FAQ</LinkTo>
          </li>
        </ul>

        <ul class="sub-menu flex flex-col gap-3 mb-4">
          <li class="font-bold mb-2">How to participate</li>

          <li class="">
            <LinkTo @route="page" @model="contribute">Ways to contribute</LinkTo>
          </li>
          <li class="">
            <LinkTo @route="submit">Submit your Entry</LinkTo>
          </li>
          <li class="">
            <LinkTo @route="page" @model="materials">Promo materials</LinkTo>
          </li>
        </ul>

        <li class="font-bold mb-4">
          <LinkTo @route="resources">Projects &amp; Resources</LinkTo>
        </li>
        <li class="font-bold mb-4">
          <LinkTo @route="events">Events</LinkTo>
        </li>
      </ul>
    </div>


    <div class="flex flex-col lg:flex-row
                border-t border-white pt-8
                small">
      <div class="w-full lg:w-8/12
                  pb-4 lg:pb-0">
        Content on this site is licensed under a <a class="underline"
                                                    href="https://creativecommons.org/licenses/by/4.0/">Creative Commons
        Attribution 4.0 International License</a>, except where otherwise noted.
      </div>
      <div class="flex lg:justify-end lg:items-start
                  w-full lg:w-1/3 lg:pl-10">
        <a class="mb-0! underline" href="https://www.oeglobal.org/terms-of-use-and-privacy-policy/"
           target="_blank"
           rel="noopener">Terms of Use and Privacy Policies.</a>
      </div>
    </div>
  </div>
</footer>