<div class="bg-purple-900">
  <div class="h-64 home--main">
    <div class="lg:container flex justify-end items-center h-full flex-col home--bg">
      <div class="shadow rounded bg-white flex gap-8 p-8 items-center flex-col lg:flex-row w-full lg:w-3/4">
        <div class="font-bold flex flex-col gap-4">
          <p class="text-base">An annual celebration, Open Education Week (OEW) is an opportunity for actively sharing
            and learning about
            the latest achievements in Open Education worldwide.</p>

          <p class="text-base text-purple-500">Now accepting submissions for Open Education Week 2021</p>
        </div>
        <div>
          <LinkTo @route="page" @model="contribute" class="button-main">Contribute</LinkTo>
        </div>
      </div>
      <div class="mt-8 mb-10 hidden lg:block">
        {{svg-jar "chevron-circle-down-light" class="text-black h-10 w-10"}}
      </div>
    </div>
  </div>

  <div class="lg:container lg:my-10">
    <div class="grid grid-cols-1 lg:grid-cols-4 lg:gap-4">
      <LinkTo @route="resources"
              class="bg-red-600 p-8 flex flex-col gap-4 text-white items-center justify-center hover:opacity-80">
        {{svg-jar "icon-library" class="h-44 w-auto"}}
        <h2 class="font-bold text-xl">Library</h2>
        <p class="text-sm">Learn about the wonderful resources shared by the community through the years.</p>
      </LinkTo>
      <LinkTo @route="events"
              class="bg-green-400 p-8 flex flex-col gap-4 text-white items-center justify-center hover:opacity-80">
        {{svg-jar "icon-events" class="h-44 w-auto"}}
        <h2 class="font-bold text-xl">Schedule</h2>
        <p class="text-sm">Learn about the wonderful resources shared by the community through the years.</p>
      </LinkTo>
      <a href="https://connect.oeglobal.org" target="_blank" rel="noopener noreferrer"
         class="bg-white p-8 flex flex-col gap-4 items-center justify-center hover:opacity-80">
        {{svg-jar "icon-connect" class="h-auto"}}
        <h2 class="font-bold text-xl text-red-600">#OEWeek at Connect</h2>
        <p class="text-sm">Connect with fellow participants with hashtag and through our social media accounts.</p>
      </a>
      <LinkTo @route="page" @model="materials"
              class="bg-white p-8 flex flex-col gap-4 items-center justify-center hover:opacity-80">
        {{svg-jar "icon-materials" class="h-auto"}}
        <h2 class="font-bold text-xl text-green-400">Promo Materials</h2>
        <p class="text-sm">Spread the word with the exclusive and customizable graphic materials</p>
      </LinkTo>
    </div>
  </div>
</div>