<div class="">
  <div class="home--main">
    <video autoplay loop muted playsinline preload="auto" poster="/assets/images/hero-2021-md.png">
      <source src="https://www.oeglobal.org/wp-content/uploads/2021/01/banner.mp4" type="video/mp4" />
      <source src="/assets/video/banner.webm" type="video/webm" />
    </video>

    <div class="lg:container flex justify-end items-center h-full flex-col">
      <div class="rounded bg-white px-4 py-2 mb-8 rounded-md border-2 border-purple-100 shadow">
        {{svg-jar "calendar-day-light" class="w-auto h-6 mr-1 inline-block align-baseline -mb-1"}}
        <span class="hidden">Dates: </span><time datetime="2021-03-01" class="font-bold">March 1 - 5, 2021</time>
      </div>
      <div
        class="lg:shadow lg:rounded bg-white border-2 border-gray-200 p-4 lg:p-8 mb items-center flex flex-col lg:flex-row lg:flex-nowrap w-full lg:w-3/4 z-10">
        <div class="font-bold prose prose-sm lg:prose-lg mb-4">
          <p class="text-purple-800">An annual celebration, Open Education Week (OE&thinsp;Week) is an opportunity for actively sharing
            and learning about the latest achievements in Open Education worldwide.</p>

          <p class="text-purple-500">Now accepting submissions for Open Education Week 2021.</p>
        </div>
        <div class="lg:ml-8">
          <LinkTo @route="page" @model="contribute" class="button-main">Contribute</LinkTo>
        </div>
      </div>
      <div class="mt-8 mb-10 hidden lg:block">
        {{svg-jar "chevron-circle-down-light" class="text-purple-800 h-10 w-10 animate-bounce"}}
      </div>
    </div>
  </div>

  <div class="p-0 md:p-12 z-20 bg-gray-100">
    <div class="lg:container grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 md:gap-4 xl:gap-6">
      {{!-- Block 1 --}}
      <LinkTo @route="resources"
        class="bg-red-400 p-8 text-white flex flex-col justify-center md:rounded-md border-2 border-red-400 hover:border-red-800 hover:shadow-lg">
        {{svg-jar "icon-library" class="h-44 w-auto mb-4"}}
        <h2 class="font-bold text-xl text-center mb-4">OE&thinsp;Week Library</h2>
        <p class="text-base leading-snug">Explore the collection of <strong>resources</strong> shared by the community through the years.</p>
      </LinkTo>
      {{!-- Block 2 --}}
      <LinkTo @route="schedule"
        class="bg-green-600 p-8 text-white flex flex-col justify-center md:rounded-md border-2 border-green-600 hover:border-green-800 hover:shadow-lg">
        {{svg-jar "icon-events" class="h-44 w-auto mb-4"}}
        <h2 class="font-bold text-xl text-center mb-4">Schedule</h2>
        <p class="text-base leading-snug">Check out the <strong>events and activities</strong> taking place during the week and don't miss out on the fun!</p>
      </LinkTo>
      {{!-- Block 3 --}}
      <a href="https://connect.oeglobal.org/c/oeweek/33/none" target="_blank" rel="noopener noreferrer"
        class="bg-white p-8 md:rounded-md flex flex-col justify-center border-2 border-gray-200 hover:border-purple-500 hover:shadow-lg">
        {{svg-jar "oeweekatconnect" class="h-44 w-auto text-red-400 mx-auto mb-4"}}
        <h2 class="font-bold text-xl text-purple-500 text-center mb-4">OEG Connect</h2>
        <p class="text-base leading-snug">Come in and say hello! Join the conversation, share your ideas and highlight your favorite topics of the week. </p>
      </a>
      {{!-- Block 4 --}}
      <LinkTo @route="page" @model="materials"
        class="bg-white p-8 md:rounded-md flex flex-col justify-center border-2 border-gray-200 hover:border-purple-500 hover:shadow-lg">
        {{svg-jar "clone-duotone" class="h-auto w-1/3 text-green-400 mx-auto mb-4"}}
        <h2 class="font-bold text-xl text-green-400 text-center mb-4">Promotional Materials</h2>
        <p class="text-base leading-snug">Spread the word with the exclusive and customizable graphic materials.</p>
      </LinkTo>
    </div>
  </div>
</div>